<html>

<head>
    <style>
    </style>
</head>

<body>
    <p>Hello {{firstName}},</p>
    <p>You the MVP! Your payment was successful and you are now officially part of LMS. Pat yourself in the back for
        taking your future seriously. Most high school students don’t even know what to do and you’re out here seeking
        out guidance! </p>
    <p> Anyways, here’s what you can expect from us:</p>
    <p>1.<b>Top-Notch Resources:</b> Access to a wide selection of materials, including modules and vetted written
        articles by top-notch mentors.</p>
    <p>2.<b>Community:</b> We plan on hosting community events either virtual or IRL. Be on the lookout for those!</p>
    <p>3.<b>Dedicated Support:</b>We’re here to help you navigate this journey. If you have any errors, bugs or
        suggestions, we’ll prioritize them! Just shoot us an email at support@LMS.ai. </p>
    <p>Once again, welcome to the LMS community! We can't wait to see you shine and take your future to new heights!</p>
    <h5>Best wishes,</5>
        <h5>Marvel | CEO of LMS</5>
</body>

</html>