<html>

<head>
    <style>
    </style>
</head>

<body>
    <p>Hello {{name}},</p>
    <p>We noticed that your recent payment attempt for LMS was not successful. Don't worry, though - we're here to help
        you sort this out so you can gain access to our amazing university preparation resources.</p>
    <p>To resolve the issue, please try the following steps:</p>
    <p>1.<b>Double-check your payment information:</b> Ensure that your card details, including the card number,
        expiration date, and CVV code, are entered correctly.</p>
    <p>2.<b>Verify your billing address:</b>Make sure the billing address you provided matches the one associated with
        your card.</p>
    <p>3.<b>Contact your bank::</b>Sometimes, banks may decline transactions for security reasons. It's worth giving
        them a call to inquire if there are any issues on their end.</p>
    <p>Once you've tried the above steps, you can attempt your payment again by visiting our website (LMS.ai)</p>
    <p>If you continue to face issues or need assistance, please don't hesitate to reach out to our support team
        at support@LMS.ai. We're always here to help you.</p>
    <p>Let's get you back on track and ready to succeed! 🌟</p>
    <h5>Warm regards,</5>
        <h5>Marvel CEO of LMS</5>



            <p>
                The reason for the failed payment is - {{message}}
            </p>

</body>

</html>