<html>

<head>
    <style>
    </style>
</head>

<body>
    <p>Hey {{name}},</p>
    <p>It's Marvel, the CEO of LMS. We noticed that you're having a little trouble accessing your account - no problem,
        it happens to the best of us! To help you get back on track, here's a link to reset your password:</p>
    <a href="{{link}}">Reset My Password</a>
    <p>Keep in mind that this link will expire in 24 hours, so it's best to take care of it sooner rather than later.
    </p>
    <p>Once you've reset your password, you can dive right back into your LMS account and continue your university
        preparation journey.</p>
    <p>If you need any assistance or have questions, feel free to reply to this email. We're here to help!</p>
    <p>Best of luck, and happy learning!</p>
    <h5>Sincerely</5>
        <h5> | CEO of LMS</5>
</body>

</html>