<html>

<head>
    <style>
    </style>
</head>

<body>
    <p>Hello {{name}},</p>
    <p>Great news! We wanted to let you know that your password reset was successful, and your LMS account is now
        up-to-date. You can confidently continue accessing all the educational resources and tools available on our
        platform without any interruptions.</p>
    <p>Best of luck on your journey!</p>
    <h5>Warm regards,</5>
        <h5>Marvel CEO of LMS</5>
</body>

</html>