html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Public Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}

code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}

code[class*='language-'] {
  padding: 0;
}

.stylingImages {
  width: 100px;
  border: solid 1px red;
  margin: 10px;

}

.selected {
  width: 100px;
  border: solid 5px #404bc6;
  margin: 10px;
}

.stylingImageTitle {
  margin: 0px;
  display: flex;
  justify-content: center;
}

.stylesHeading {
  display: flex;
  justify-content: center;
}

.displayImages {
  display: flex;
  margin-bottom: "25px";
  flex-wrap: wrap;
}

.MuiSelect-select.MuiSelect-outlined.MuiInputBase-input.MuiOutlinedInput-input.css-1ukp3w4-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 8px !important;
  color: white;
}

/* .css-w8116b-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root:not(.MuiInputBase-sizeSmall) {
width : 185px !important
} */

.filterEverything {
  width: 190px !important;
  color: white !important;
}

input#standard-bare {
  padding: 9px;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedEnd.css-efyt53-MuiInputBase-root-MuiOutlinedInput-root {
  margin-top: 3px;
}

.mediaDiv {
  display: flex;
  justify-content: space-between;
}

.imagesList {
  grid-template-columns: repeat(6, 1fr) !important;
  margin-right: 10px;
}

.resultImageStyle {
  width: 250px;
  margin: 15px;
}

.resultImageDiv {
  height: 275px;
}
.resultDesc{
  border-top: 1px solid #e0d3d3;
  margin-top: 85px;
}

/* .buttonGroup {
  padding: "10px"; 
  height: "40px";
  color: "black";
  border: "1px solid black"
} */

/* .allButtons {
  color: white !important;
  font-size: 13px !important;
  height:30px !important;
  margin: 3px !important;
  background-color: "#003D4C" !important;
  border-radius: 0px !important;

}
.uploadButton{ 
  width: 80px !important;
}
.downloadButton{
  width: 110px !important;
}
.folderButton{
  width: 151px !important;
}

.iconStyling {
  font-size: 18px !important;
  color: white !important
} */

.rv-media-header .rv-media-top-header .rv-media-actions .btn {
  margin-right: 5px;
}

button.btn.btn-success.js-dropzone-upload.dz-clickable {
  background-color: #003D4C !important;
  border-color: #003d4f !important;
  border-radius: 0;
  margin-left: 3px;
}

.MuiFormControl-root.btn.btn-success.js-dropzone-upload.dz-clickable.css-1z0xcs1-MuiFormControl-root {
  background-color: #003D4C !important;
  border-color: #003d4f !important;
  border-radius: 0;
  margin-left: 3px;
  margin-top: 0px !important;
}

.rv-media-container .btn {
  border-radius: 0;
  font-size: 13px;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.rv-media-wrapper * {
  border-radius: 0 !important;
}

.btn-secondary {
  background-color: #fff;
  border-color: #ccc;
  color: #333;
}

.btn {
  box-shadow: none !important;
  outline: none !important;
}

.sortDropdown {
  border-radius: 0px !important;
  width: 70px !important;
}

.actionsDropdown {
  border-radius: 0px !important;
  width: 88px !important;
}

.actionsDropdownDiv {
  margin-left: -38px !important;
}

.buttonGroup {
  margin-left: -30px !important;
}

.folderIcons {
  display: flex;
  justify-content: center;
  font-size: 100px;
}
.videoIcon {
  display: flex;
  justify-content: center;
  font-size: 82px;
}
.resultIcons{
  font-size: 100px;
    margin-left: 85px;
    margin-top: 50px;
}
.allCards {
  /* margin: 15px; */
  width: 150px;
  padding-top: 15px;
  max-width: 345px;
  border-radius: 0px !important;
}

.allCardsImages{
  width: 85px;
  padding-top: 15px;
  max-width: 345px;
  border-radius: 0px !important;
  height: 85px;

}
.searchField{
margin-left: 138px;
margin-top: 0px !important;
}

.imagesBox{
  margin: 15px;
}

.cardTitle {
  background-color: #e2e5dd;
  padding: 5px !important;
  margin-top: 28px !important;
  font-size: 13px !important;
}

.cardTitleInnerText {
  background-color: #e2e5dd;
  padding: 5px !important;
  font-size: 13px !important;
}

.fullDiv {
  display: flex;
  flex-wrap: wrap;
}

.viewInMedia {
  width: 189px !important;
}

.actionsDropdown {
  color: black !important;
}

.tickIcon {
  float: right;
  color: blue;
  font-size: 20px;
  margin-left: 5px;
  margin-top: -9px;
}
.resultCardIcon{
  font-size: 100px;
  margin: 50px;
}
.resultCardImg{
  margin: 50px;
  width: 150px;
}

/* .evenOdd :nth-child(even) {

  background: #ecf0f1;
} */

.listViewIcons{
  margin-right: 10px;
}
.MuiFormGroup-root.css-dmmspl-MuiFormGroup-root:nth-child(odd) {
  background: #ecf0f1;
}

.div_hover:hover {
  background-color: #a7adaf;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 99999999999999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));

  background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.allCardsImagesListView{
width: 23px;
padding-top: 0px;
max-width: 345px;
border-radius: 0px !important;
height: 21px;
margin-right: 10px;
}
.borders {
  border-radius: 0px !important;
  border-color: #003D4C;
}
.backButton {
  padding-top: 0px !important;
}
.rdw-editor-main{
  height: 260px !important;
  overflow: hidden !important;
  border: 1px solid;
  box-sizing: border-box;
}

.insertButton {
  background-color:#f24d23 !important;
  border-radius: 0px !important ;
}